<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
     <link rel="icon" href="/img/icon2.png">
    <title>About</title>
    <style>
        .reach{
           
            margin: 8vh 32vw;
            width: 40vw;
            text-align: center;
        }
        .reach img{
            margin: 0 auto;
        }
        .reach h1{
            background-color: white;
        }

    </style>
</head>
<body>
    {{>header}}
        <div class="reach">
             <img src="https://lh3.googleusercontent.com/a-/AOh14GhOePmZG8g0wja3nBL_o7igPEyY8svB8UQuXjC4Gg=s120-cc-rg" alt="">
            <h1 id="mr">Mr. Barnwal</h1>
        </div>
        
    {{>footer}}
</body>
</html>