<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/img/icon2.png">
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>header}}
    <div class="container">
        <input type="text" placeholder="Search a place for Temperature" name="search" id="place" spellcheck="false" autocomplete="off" onkeyup="capitalize()">
        <button type="submit" onclick="main()"><i class="fa fa-search"></i></button>
        <div class="ans" style="opacity: 0;">
            <h2 id="msg"></h2>
            {{!-- <h2 id="maphead">➣Locate on map</h2> --}}
            <div id="map"></div>
        </div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7LeWej2Jh0SJ_t-sCCC0xEBNEnaoU1T8&callback=initMap">
    </script>

    {{>footer}}
</body>
</html>