<style>
    .footer{
        width: 90vw;
        position: fixed;
        left: 3vw;
        bottom: 0;
        color: silver;
        background-color: black;
        border: solid 1px darkgoldenrod;
        border-radius: 20px;
        padding: 7px;
    }
    h3{
    color: silver;
    text-align: center;
}
</style>
<div class="footer">
    <h3>Developed by {{name}}</h3>
</div>