<style>
    .footer{
        width: 90vw;
        position: absolute;
        left: 3vw;
        bottom: 0;
        color: silver;
        background-color: black;
        border: solid 1px darkgoldenrod;
        border-radius: 20px;
        padding: 7px;
    }
    h2{
    color: silver;
    text-align: center;
}
</style>
<div class="footer">
    <h2>Developed by {{name}}</h2>
</div>